@import url('https://fuentes.solargentinotv.com.ar/importgilroy.css');

body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f3e5;
    font-size: 1em;
}

header {
    background-color: #c5c0a5;
    color: #483606;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 0 0.4em 0 #00000073;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0.5em;
}

nav ul li a {
    color: #483606;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    font-weight: 700;
}

#medio-pago-articulo {
    max-width: 800px;
    margin: 4em auto;
    padding: 2em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#medio-pago-articulo header h2 {
    font-size: 2em;
    color: #483606;
    margin-bottom: 0.5em;
}

.subtitulo {
    font-size: 1.2em;
    color: #6a6a6a;
    margin-bottom: 1.5em;
}

.contenido-articulo {
    color: #483606;
    line-height: 1.8;
}

.contenido-articulo p {
    margin-bottom: 1.5em;
    font-size: 1.2em;
}

.contenido-articulo a {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contenido-articulo a:hover {
    color: #005fa3;
}

.contenido-articulo ul {
    list-style: none;
    padding-left: 0;
}

.contenido-articulo ul li {
    font-size: 1.1em;
    margin-bottom: 0.8em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #c5c0a5;
    color: #483606;
    margin-top: 3em;
    box-shadow: 0 0 0.4em 0 #00000073;
}

footer p {
    margin: 0.5em 0;
    line-height: 1.2em;
}

/* Media Queries */
@media (max-width: 75em) {
    #medio-pago-articulo {
        padding: 1.5em;
    }
}

@media (max-width: 56.25em) {
    #medio-pago-articulo {
        padding: 1.2em;
    }
}

@media (max-width: 37.5em) {
    #medio-pago-articulo {
        padding: 1em;
        width: 90%;
    }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #c5c0a5;
}

::-webkit-scrollbar-thumb {
    background: #ffff;
    border-radius: 6px;
}