@import url('https://fuentes.solargentinotv.com.ar/importgilroy.css');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    font-family: 'Gilroy';
    font-size: 1em;
    overflow-x: hidden; /* Bloquea el desbordamiento horizontal */
}

header {
    background-color: #fff;
    color: #02a22a;!;!i;!;!;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 0.4em 0 #00000073;
    height: 7.5em;
}

header h1 {
    margin-left: -36em;!;!e;!em;!e;!;
    position: relative;
    top: -1.6em;
    font-size: 2.5em;
    line-height: 0.2em;
    text-transform: uppercase;
}

h1 {}

h1 {}

main {
    flex: 1; /* Hace que el contenido principal crezca y empuje el footer hacia abajo */
    padding: 2em;
}

.mpavisoext {
    margin-left: 7em;
    position: relative;
}

.infomdp {
    margin-top: -7em;
    margin-left: -34.581em;
    position: absolute;
    color: #02a22a;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-decoration: none;
    font-weight: 700;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border: 4px solid #02a22a;
    background: #fff;
}

.infomdp:hover {
    background: #02a22a;
    color: #fff;
}

.mpaviso {
    font-weight: 700;
    position: absolute;
    margin-left: -57em;
    margin-top: -7em;
    background: #02a22a;
    color: #fff;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: 4px solid #02a22a;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

.mpaviso::after {
    content: '⚠️';
    position: absolute;
    margin-left: 0.3em !important;!im;!imo;!imop;!i;!;
}

.mpaviso::before, .mpaviso::after {
    content: '⚠️';
    position: absolute;
    margin-left: -1.5em;
    margin-top: -0.1em;
}

.logreg {
    background: #fff;
    color: #02a22a;
    border: none;
    padding-left: 2em;
    padding-right: 2em;!em;!e;!;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    border-radius: 0.3em;
    display: block;
    width: 11em;
    margin-left: 33em;
    margin-top: -9.7em;
    position: absolute;
}

.logreg:hover {
    background: #02a22a;
    color: #fff;
    cursor: pointer;
}

.reg {
    margin-top: -9.7em;
    margin-left: 44.4em;
}

div#auth-buttons {
    color: #02a22a;
    background: #fff;
    position: relative;
    margin-left: 36.6em;
    margin-top: -2.8em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
    position: relative;
    color: #02a22a;
}

nav ul li a {
    color: #02a22a;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    font-weight: 700;
}

#buscador:focus {
    outline: none;  /* Quita el borde de foco predeterminado */
    border: 2px solid #02a22a;  /* Mantiene el borde azul */
}

/* Estilos para la navegación en móviles */
.nav-menu {
    display: none; /* Ocultar el menú por defecto en móviles */
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#catalogo {
    padding: 2em;
    color: #02a22a;
}

.carrito {
    position: relative !important;!i;!;
    top: -0.57em;!em;!em;!e;!;
    font-weight: 700;
    z-index: 2000;
    left: 25.6em;
    font-size: 22px;
    font-family: FONTAWESOME;
    color: #fff;
    border: 4px solid #02a22a;
    padding-top: 0.4em;!em;!em;!e;!;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
    background: #ffffff00;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos para el menú desplegable */
.dropdown-menuc {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menuc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menuc li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-menuc li a:hover {
  background-color: #ddd;
}

/* Mostrar el menú desplegable cuando se active */
.dropdownc.active + .dropdown-menuc {
  display: block;
}


.agotado {
    position: absolute;
    background: #f00;
    padding-top: 0.34em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    font-weight: 780;
    border-radius: 0.3em;
    left: 17.3em;
}

#agotgrueso {
    opacity: 1;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 11em;
}

.producto {
    background: #ddd;
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgb(0 0 0 / 29%);
    margin: 1em;
    width: calc(20% - 2em);
    color: #02a22a;
}

.precio {
    font-weight: 700;
}

.producto img {
    width: 20.14em;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-top: -1em;
    height: 12em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    object-fit: cover;
}

.imgos {
    object-fit: contain !important;!i;!;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #fff;
    color: #02a22a;
    box-shadow: 0 0 0.4em 0 #00000073;
    width: 100%; /* Ajusta el ancho correctamente */
    position: relative; /* Se ajusta al contenido */
    bottom: 0;
     /* Evita cualquier desborde */
    height: 3.5em;
    line-height: 0.4em;
    font-weight: 700;
}

/* Media Queries para diseÃ±o responsivo */
@media (max-width: 75em) { /* 1200px */
    .producto {
        width: calc(25% - -26em);
        margin-left: -4em;
    }

.mpavisoext {
    margin-left: 62em;!;!e;!em;!e;!;
    margin-top: -1em;
    position: relative;
}

    .mpaviso {
        font-weight: 700;
        position: absolute;
        margin-left: -57em;
        margin-top: -7em;
        background: #02a22a;
        color: #fff;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border: 4px solid #02a22a;
        border-top-left-radius: 0.2em;
        border-bottom-left-radius: 0.2em;
    }
    
    .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: 0.3em !important;!im;!imo;!imop;!i;!;
    }
    
    .mpaviso::before, .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: -1.5em;
        margin-top: -0.1em;
    }

    .producto img {
    width: 41.3em;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-top: -1em;
    height: 12em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    object-fit: cover;
}
}

@media (max-width: 56.25em) { /* 900px */
    .producto {
        width: calc(33.33% - -4em);
        margin-left: -1em;
    }
        .mpaviso {
        font-weight: 700;
        position: absolute;
        margin-left: -57em;
        margin-top: -7em;
        background: #02a22a;
        color: #fff;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border: 4px solid #02a22a;
        border-top-left-radius: 0.2em;
        border-bottom-left-radius: 0.2em;
    }
    
    .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: 0.3em !important;!im;!imo;!imop;!i;!;
    }
    
    .mpaviso::before, .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: -1.5em;
        margin-top: -0.1em;
    }

    .producto img {
    width: 15.9em;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-top: -1em;
    height: 12em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    object-fit: cover;
    }
}

@media (max-width: 60em) {
    .producto img {
        width: 12.2em;
        margin-bottom: 1em;
        margin-left: -1em;
        margin-top: -1em;
        height: 12em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        object-fit: cover;
        }
}

@media (max-width: 50em) {
    .producto img {
        width: 12.2em;
        margin-bottom: 1em;
        margin-left: -1em;
        margin-top: -1em;
        height: 12em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        object-fit: cover;
        }
}

@media (max-width: 90em) {
    .producto img {
        width: 38.5em;
        margin-bottom: 1em;
        margin-left: -1em;
        margin-top: -1em;
        height: 12em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        object-fit: cover;
        }
}

@media (max-width: 37.5em) { /* 600px */
    .producto {
        width: calc(50% - -4em);
        margin-left: -6em;
    }

    .mpaviso {
        font-weight: 700;
        position: absolute;
        margin-left: -57em;
        margin-top: -7em;
        background: #02a22a;
        color: #fff;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border: 4px solid #02a22a;
        border-top-left-radius: 0.2em;
        border-bottom-left-radius: 0.2em;
    }
    
    .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: 0.3em !important;!im;!imo;!imop;!i;!;
    }
    
    .mpaviso::before, .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: -1.5em;
        margin-top: -0.1em;
    }

    .producto img {
    width: 12.2em;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-top: -1em;
    height: 12em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    object-fit: cover;
    }
}

@media (max-width: 25em) { /* 400px */
    .producto {
        width: calc(100% - -25em);
        margin-left: -14.3em;
    }

    .mpaviso {
        font-weight: 700;
        position: absolute;
        margin-left: -57em;
        margin-top: -7em;
        background: #02a22a;
        color: #fff;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border: 4px solid #02a22a;
        border-top-left-radius: 0.2em;
        border-bottom-left-radius: 0.2em;
    }
    
    .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: 0.3em !important;!im;!imo;!imop;!i;!;
    }
    
    .mpaviso::before, .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: -1.5em;
        margin-top: -0.1em;
    }
}

@media (max-width: 383px) { /* 400px */
    .producto {
        width: calc(100% - -7em);
        margin-left: -9.8em;
        position: relative;
        left: -0.5em;
    }

    .mpaviso {
        font-weight: 700;
        position: absolute;
        margin-left: -57em;
        margin-top: -7em;
        background: #02a22a;
        color: #fff;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border: 4px solid #02a22a;
        border-top-left-radius: 0.2em;
        border-bottom-left-radius: 0.2em;
    }
    
    .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: 0.3em !important;!im;!imo;!imop;!i;!;
    }
    
    .mpaviso::before, .mpaviso::after {
        content: '⚠️';
        position: absolute;
        margin-left: -1.5em;
        margin-top: -0.1em;
    }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
    width: 5px; /* Grosor de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background: #fff; /* Color de fondo de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #02a22a; /* Color del "agarre" de la barra de desplazamiento */
    border-radius: 6px;
  }

/* Scrollbar personalizada */
.dropdown-content::-webkit-scrollbar {
    width: 5px;
}
  
.dropdown-content::-webkit-scrollbar-track {
    background: transparent;
}
  
.dropdown-content::-webkit-scrollbar-thumb {
    background: #ffffff00 !important;!i;!;!imo;!imo;!i;!;
    border-radius: 0.5em;
    padding-bottom: 1em;
}

/* Contenedor del menú */
.menu-container {
    text-align: center;
}

a.more-btn {
    position: relative;
    top: 0.5em;
}

/* Lista horizontal de categorías en escritorio */
.category-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin-top: -1.1em;
}

.category-menu a, .more-btn {
    text-decoration: none;
    color: #02a22a;
    font-weight: 600;
    padding: 8px 12px;
    cursor: pointer;
}

/* Hover sin border-radius ni transition */
.category-menu a:hover, .more-btn:hover {
    color: #fff;
    background-color: #02a22a;
}

/* Dropdown en móviles */
.dropdown-container {
    display: none;
    text-align: center;
    margin-top: 1em;
}

.dropdown-btn {
    background-color: #fff;
    color: #02a22a;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 0.5em;
    border: 2px solid #02a22a;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: #fff;
    border: 2px solid #02a22a;
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    z-index: 10;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #02a22a;
    font-weight: 600;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #02a22a;
    color: white;
}

/* Contenedor del dropdown "Más" */
.more-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown de categorías restantes */
.dropdown-content-more {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

/* Estilos de los enlaces dentro del dropdown */
.dropdown-content-more a {
    display: block;
    padding: 10px;
    color: #02a22a;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

/* Hover de los enlaces */
.dropdown-content-more a:hover {
    background-color: #02a22a;
    color: white;
}

/* Mostrar el menú completo en móviles */
@media (max-width: 768px) {
    .category-menu {
        display: none;
    }
    .dropdown-container {
        display: block;
    }
}

.btn-ver-producto {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #02a22a;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #02a22a;
    font-weight: 700;
}

.btn-ver-producto:hover {
    background-color: #02a22a;
    color: #fff;
}

/* Estilos para el botón de menú en dispositivos móviles */
.menu-toggle {
    display: none; /* Ocultar en pantallas grandes */
    background: #02a22a;
    color: #fff;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 2.4em;
    margin-left: 12.5em;
}

.menu-toggle:hover {
    background: #fff;
    color: #02a22a;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none; /* Ocultar el menú normal en móviles */
    }
}

.nav-menu.active {
    display: flex; /* Mostrar cuando esté activo */
}

.nav-menu li {
    margin: 10px 0;
}

#buscador {
    padding: 8px 30px 8px 10px;
    border: 2px solid #02a22a;
    border-radius: 0.3em;
    width: 25em;
    background-color: #fff;
    font-size: 16px;
    margin-left: -28em;
    color: #02a22a;
    font-weight: 700;
  }

#buscador::placeholder {
}
  
  #buscador::placeholder {
    color: #02a22a;
    opacity: 1;
  }
  
  #buscador:focus {
    outline: none;
    border: 2px solid #02a22a;
  }
  
  #search-button {
    background-color: transparent;
    border: 2px solid #02a22a;
    cursor: pointer;
    position: absolute;
    right: 0.29em;
    top: 50.1%;
    transform: translateY(-50%);
    padding-top: 0.24em;
    padding-bottom: 0.21em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-top-left-radius: 0em !important;!i;!;
  }

.search-button {}

.search-button:hover svg {
    color: #fff;
}

#search-button:hover, svg:hover {
    color: #fff !important;!i;!;
    background: #02a22a;
}
  
  .search-icon {
    color: #02a22a;
    width: 24px;
    height: 24px;
    margin-right: 0em;!em;!e;!;
    margin-top: 0.1em;
  }

.search-icon:hover {
}
  
  .search-container {
    position: relative;
    max-width: 500px;
    margin: 20px auto;
    margin-top: -4.9em;
  }

.headerbox {
    display: block;
    background: #000;
    color: #fff;
    padding-top: 1.3em;!;!e;!em;!e;!;
    width: 103%;
    left: -1em;
    position: relative;
    top: -4em;
    padding-bottom: 1em;
    padding-left: 54em;
}

.headerbox a {
    color: #fff;
    text-decoration: none;
    padding-left: 1em;
}

.headerbox ul {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
    display: flex; /* Hace que los li se alineen en una sola línea */
}

.headerbox li {
    margin-right: 15px; /* Espacio entre los elementos */
}

.headerbox a {}