@import url('https://fuentes.solargentinotv.com.ar/importgilroy.css');

body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5c0a5;
    font-size: 1em;
}

header {
    background-color: #c5c0a5;
    color: #483606;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 0.4em 0 #00000073;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #483606;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    font-weight: 700;
}

#producto-detalle {
    padding: 2em;
    color: #483606;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto-detalle img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}

.producto-info {
    max-width: 500px;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

.producto-info h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.producto-info p {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.precio {
    font-weight: 700;
    font-size: 1.5em;
    color: #483606;
}

.agregar-carrito {
    background-color: #483606;
    color: #c5c0a5;
    border: none;
    padding: 0.8em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 50%;
    margin-top: 1.5em;
}

.agregar-carrito:hover {
    background-color: #c5c0a5;
    color: #483606;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #c5c0a5;
    color: #483606;
    margin-top: 2em;
    line-height: 0;
    box-shadow: 0 0 0.4em 0 #00000073;
}

footer p {
    margin: 0.5em 0;
}

/* Media Queries */
@media (max-width: 75em) {
    #producto-detalle {
        flex-direction: column;
    }
}

@media (max-width: 56.25em) {
    #producto-detalle {
        flex-direction: column;
    }
}

@media (max-width: 37.5em) {
    #producto-detalle {
        padding: 1em;
    }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #c5c0a5;
}

::-webkit-scrollbar-thumb {
    background: #ffff;
    border-radius: 6px;
}